<div class="d-flex justify-content-between mt-2"style="margin-left: 210px;">
    <form class="form-inline">
      <input class="form-control form-control-sm mr-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-dark btn-sm" type="submit">Search</button>
    </form>
  </div>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-6 justify-content-center">

            <div class="col mb-5" *ngFor='let item of itemsToDisplay'>
                <div class="card h-100" style="height: 300px;" >
                    <!-- Thumbnail-->
                    <img class="card-img-top" [src]='item.thumbnailUrl' alt="img"/>
                    <!-- Details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Item title & Album ID-->
                            <h5 class="fw-bolder" style="font-size: 14px;">{{item.title}} </h5>
                            <p class="card-text">Album ID: {{item.albumId}}</p>
                        </div>
                        </div>
                        <!-- Photo actions-->
                        <div class="card-footer p-4 pt-2 border-top-0 bg-grey">
                            <div class="text-center ">
                                <a [routerLink]="['/items', item.id]" class="btn btn-outline-dark">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>              
    </div>
</section>

<mi-pagination
[currentPage]="currentPage"
[itemsPerPage]="itemsPerPage"
[items]="totalItems"
(pageChange)="onPageChange($event)"
>
</mi-pagination>

